@font-face {
    font-family: 'galter';
    src: url('font/Galter.otf') format('woff2');
}

* {
    box-sizing: border-box;
    font-family: "galter";
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.titre {
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    padding: 25%;
    object-fit: cover;
    font-family: "titre";
    max-width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 0;
}

.menunav .menu li {
    list-style-type: none;
}

.menunav .menu a {
    display: block;
    min-width: 120px;
    padding: 1.2rem 25px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.menunav .menu a:hover {
    border-bottom: 1px solid white;
}

.image img {
    border: none;
    cursor: pointer;
    width: 8%;
    display: block;
    margin: 0 auto;
    padding: 0;
    margin-top: 1%;
}

.menu-image {
    width: 100vw;
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.7) contrast(1.2) saturate(1.2), blur(1px), grayscale(50%);
}

.header {
    display: grid;
    padding: 0;
    color: white;
    margin: 0;
    align-items: center;
    position: fixed;
    background-color: rgb(0, 0, 0);
    z-index: 15;
    width: 100%;
}

.presentation-container {
    position: relative;
    width: 50%;
    margin: -5% auto 0 auto;
    padding: 7%;
    padding-left: 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    z-index: 10;
}

.presentation-text {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.presentation-text h2 {
    margin: 10px 0;
    font-size: 2em;
    font-weight: bold;
    margin-right: 60%;
}

.presentation-text h3 {
    margin: 2% 0 1%;
    font-size: 1.5em;
    font-style: italic;
    color: #555554;
    margin-right: 60%;
}

.presentation-text p {
    margin: 0;
    font-size: 1.2em;
    margin-right: 60%;
}

.frise_chronologique {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    justify-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../image/fond2.jpg");
    background-size: contain;
    background-repeat: repeat;
    background-attachment: fixed;
    padding: 5%;
    padding-bottom: 25%;
    margin-top: 2%;
    margin-bottom: 10%;
}

.frise {
    margin: 5px;
    position: relative;
    width: 100%;
    min-height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease;
    align-items: center;
}

.frise.développement {
    background-image: url("../image/dev.png");
    display: flex;
}

.frise.réseaux {
    display: flex;
    background-image: url("../image/reseau.png");
}

.frise.mathématiques-et-logique {
    display: flex;
    background-image: url("../image/maths.png");
}

.frise.langues {
    display: flex;
    background-image: url("../image/langue.png");
}

.frise.bureautique {
    display: flex;
    background-image: url("../image/bureau.png");
}

.frise.autres {
    display: flex;
    background-image: url("../image/projet.png");
}

.frise:hover {
    transform: scale(1.05);
}

.texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    padding: 20%;
}

.frise .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    max-width: 600px;
    gap: 10%;
}

.domaine-titre {
    text-transform: uppercase;
    color: white;
    text-align: center;
    align-items: end;
    background-color: rgb(19, 19, 19, 0.1);
    padding: 20%;
    width: 100%;
    display: block;
    text-decoration: none;
    margin-bottom: 5%;
    font-size: 25px;
}

.texte h1 {
    text-transform: uppercase;
    color: white;
    font-size: 12px;
}

.frise:hover .texte {
    opacity: 1;
    visibility: visible;
}

.frise:hover .domaine-titre {
    visibility: hidden;
}

.etoile {
    margin-right: 5px;
}

.etoile.pleine {
    color: #FFD700;
}

.etoile.vide {
    color: #B0B0B0;
}

.comp-titre {
    border-top: solid 1px rgba(129, 122, 122, 0.5);
    border-bottom: solid 1px rgba(129, 122, 122, 0.5);
    color: rgba(255, 253, 253, 0.8);
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 3%;
}

.realisation-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
    background-attachment: fixed;
    background-size: cover;
    padding: 5%;
    gap: 4%;
}

.realisation-container .realisation-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: flex-start;
    align-items: start;
}

.realisation-container .realisation-titre {
    color: white;
    text-align: center;
    margin-bottom: 1%;
    text-transform: uppercase;
    font-family: "titre";
}

.realisation-container .realisation-card {
    background-color: rgba(31, 30, 30, 0.616);
    padding-bottom: 30%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
}

.realisation-container .realisation-card img {
    width: 80%;
    display: block;
    margin: auto;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.realisation-card:hover img {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgb(255, 255, 255);
    visibility: hidden;
}

.realisation-container .realisation-card p {
    color: white;
    text-align: center;
    padding: 5%;
    background-color: #00000096;
    margin: 10%;
    margin-top: 20%;
}

.realisation-card:hover {
    background-image: var(--gif-background);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    box-shadow: 0 2px 15px 0 rgba(255, 255, 255, 0.315);
}

.btn-procedure {
    display: inline-block;
    text-align: center;
    background-color: #5b565152;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s ease;
    text-transform: uppercase;
}

.btn-procedure:hover {
    background-color: rgba(156, 156, 156, 0.68);
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000000;
}

.formation-container {
    width: 90%;
    margin: 2% auto;
    padding: 5%;
    background-color: #1f1f1f;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.cv-section {
    text-align: center;
    margin-bottom: 2%;
}

.cv-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.cv-button:hover {
    background-color: #c2185b;
    transform: scale(1.1);
}

.formation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2%;
}

.formation-table thead {
    background-color: #2c2c2c;
}

.formation-table th, .formation-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #444444;
}

.formation-table th {
    color: #e91e63;
    font-weight: bold;
    text-transform: uppercase;
}

.formation-table tr:hover {
    background-color: #2c2c2c;
    cursor: pointer;
}

.formation-table td {
    font-size: 0.9rem;
    color: #b0b0b0;
    line-height: 1.5;
}

.formation-table tr:hover td {
    color: white;
}

h2 {
    border-top: solid 1px rgba(129, 122, 122, 0.5);
    border-bottom: solid 1px rgba(129, 122, 122, 0.5);
    color: rgba(255, 253, 253, 0.8);
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 3%;
}

.form-container {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

form {
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    padding: 60px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

form h2 {
    margin-bottom: 20px;
    color: #ab9d7b;
    font-size: 1.5em;
    text-transform: uppercase;
    margin: auto;
}

form p {
    margin-bottom: 20px;
    font-size: 0.9em;
    color: #b0b0b0;
}

input[type="text"],
input[type="email"],
textarea,
input[type="number"] {
    width: calc(100% - 16px);
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #282828;
    color: #f8f8f8;
    font-size: 1em;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
input[type="number"]:focus {
    border-color: #ab9d7b;
}

textarea {
    resize: none;
    height: 120px;
}

button[type="submit"] {
    background-color: #ab9d7b;
    color: #1e1e1e;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 16px);
    font-size: 1em;
    transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #81807f;
}

.errors {
    background-color: #f44336;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.errors ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.success {
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-weight: bold;
    color: #ab9d7b;
    margin-bottom: 5px;
    display: block;
}

#captcha {
    width: calc(100% - 16px);
    margin-top: 8px;
}

#formulaire {
    margin-top: 3%;
    margin-bottom: 8%;
}

/* Base CSS pour le footer */
footer.footer {
    background-color: #00000094;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Social icons dans le footer */
.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    transition: transform 0.3s, color 0.3s;
}

.footer .social-icons a img {
    width: 32px;
    height: 32px;
    filter: brightness(0) invert(1); /* Icônes blanches sur fond sombre */
}

.footer .social-icons a:hover {
    transform: scale(1.2);
    color: #0073e6;
}

/* P pour le texte de copyright */
.footer p {
    margin: 0;
    font-size: 14px;
}

/* Media Queries pour le responsive */
@media (max-width: 1200px) {
    .realisation-container {
        grid-template-columns: 1fr;
        margin-bottom: 40%;
    }

    .frise_chronologique {
        padding-bottom: 60%;
    }

    .presentation-text h2, .presentation-text h3, .presentation-text p{
        font-size: 0.9em;
    }
}

@media (max-width: 800px) {


    .comp-titre, h2 {
        margin-left: auto;
        margin-right: auto;
    }

    .titre {
        font-size: 30px; /* Taille réduite pour le mobile */
        padding: 15%; /* Réduction du padding pour éviter l'espace inutile */
    }

    .menu {
        flex-direction: column; /* Plus clair pour les mobiles */
    }

    .menunav .menu a {
        font-size: 14px; /* Taille réduite des liens */
        padding: 0.5rem 15px; /* Padding ajusté */
    }

    .image img {
        width: 20%;
    }

    .presentation-text h2{
        font-size: 0.9em;
    }

    .presentation-text h3{
        font-size: 0.7em;
    }

    .presentation-text p{
        font-size: 0.5em;
    }

    .header {
        grid-template-columns: auto;
        justify-content: center;
    }

    .frise_chronologique {
        grid-template-columns: 1fr;
        gap: 2%;
        margin-bottom: 10%;
        padding-bottom: 80%;
    }

    .presentation-container {
        width: 100%;
    }

    .menu-image-section {
        padding-top: 60%;
    }

    #réalisations {
        width: auto;
    }

    .realisation-container {
        grid-template-columns: 1fr; /* Une seule colonne pour les réalisations */
    }

    .realisation-card img {
        width: 100%; /* Largeur complète pour éviter chevauchement */
    }

    .formation-container {
        width: 90%; /* Ajustement de la largeur pour le mobile */
        margin: 2% auto;
    }

    .cv-section h2 {
        margin-right: 10%; /* Ajustement du texte centré */
        margin-left: 10%;
    }

    .form-container {
        width: 90%; /* Largeur réduite pour le mobile */
    }

    .contact-container {
        padding: 5%;
        width: 90%;
        margin: 2% auto;
    }

    .formation-table {
        width: 100%;
        display: block;
    }

    .formation-table thead {
        display: none;
    }

    .formation-table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .formation-table th, .formation-table td {
        padding: 10px;
        text-align: center;
        display: block;
        width: 100%;
    }

    .formation-table td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }

    .form-container {
        margin-bottom: 50%;
    }

    footer.footer {
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .titre {
        font-size: 20px; /* Taille plus réduite */
        padding: 10%; /* Padding plus réduit */
    }

    .menunav .menu a {
        font-size: 11px; /* Taille des liens encore réduite pour petits écrans */
    }

    .realisation-card img {
        width: 100%; /* Largeur complète pour mobiles très petits */
    }

    .form-container {
        width: 95%; /* Ajustement pour très petits écrans */
    }

    .formation-table {
        width: 100%;
        display: block;
    }

    .formation-table thead {
        display: none;
    }

    .formation-table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .formation-table th, .formation-table td {
        padding: 10px;
        text-align: center;
        display: block;
        width: 100%;
    }

    .formation-table td:before {
        content: attr(data-label);
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
    }
}
